/*
Title: Basic
Description: Basic CSS for www.volll.com
Author: Zsolt Vajda
Author URI: http://wwww.trn.hu/
*/

		body, html {
			background: #04478a url(../images/general/superbg.png) 0 0 repeat;
		}

		* {
			font-family: 'Arial', 'Helvetica', sans-serif;
			line-height: 13px;
			color: #fff;
			margin: 0;
			padding: 0;
			font-size: 11px;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: 'Trebuchet MS', sans-serif;
			font-weight: normal;
		}
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			font-family: 'Trebuchet MS', sans-serif;
			text-decoration: none;
		}
		a { cursor: pointer; }

		a:hover {
			color: #fff; 
			text-shadow: 0px 0px 4px #fff;
		}
		
		img { border: 0; }

		#rap {
			min-width: 1000px;		
		}

		#inter0,
		#inter1,
		#inter2,
		#inter3,
		#inter4,
		#about,
		#main,
		#works,
		#goodies {
			text-align: center;
		}
		
		div#inter0,
		div#inter1,
		div#inter2,
		div#inter3,
		div#inter4,
		div#inter4 .fitter,
		div#inter0 .fitter,
		div#inter1 .fitter,
		div#inter2 .fitter,
		div#inter3 .fitter,
		div#inter4 .fitter {
			width: 100%;
			height: 200px;
			background-position: top center;
			background-repeat: repeat;
		}

		div#inter4 {
			height: 200px;
		}

		div#inter0 .fitter,
		div#inter1 .fitter,
		div#inter2 .fitter,
		div#inter3 .fitter,
		div#inter4 .fitter {
			background-repeat: no-repeat;
			text-align: center
		}

		div#inter0 .fitter .content,
		div#inter1 .fitter .content,
		div#inter2 .fitter .content,
		div#inter3 .fitter .content,	
		div#inter4 .fitter .content {
			width: 1000px;
			height: 200px;
			margin: 0 auto 0 auto;
			text-align: left;
			position: relative;
		}


		div#inter0 .sky {background: url(../images/about/stars.png) 0px 5px repeat-x;}
		div#about .sky { background: url(../images/about/stars.png) 0px 5px repeat-x;}
		

		div#main .fitter { background: url(../images/main/bg1.png) center 2px no-repeat; }
		div#goodies .fitter { background: url(../images/goodies/bg1.png) top center no-repeat; }


		
		div#about div.content,
		div#main div.content,
		div#works div.content,
		div#goodies div.content,
		div#inter0 div.content{
			width: 1000px;
			height: 550px;
			text-align: left;
			background-position: top center;
			margin: 0 auto 0 auto;
			position: relative;
			overflow: hidden;
		}
		
		.header {
			height: 60px;
			width: 1000px;
			border-bottom: 1px solid #000;
			position: absolute;
			top: 0;
			left: 0;
		}
		
		.header h1 {
			margin: 24px 0 0 0;
			padding: 0 0 0 25px;
			/*line-height: auto;*/
			font-size: 28px;
			line-height: 28px;
			font-weight: lighter;
			letter-spacing: -1px;
			clear: none;
			float: left;
		}

		.header h1 a {
			line-height: 28px;
			font-size: 28px;
			font-weight: lighter;
		}

		.header h1 a:hover {
			text-shadow:  0px 0px 8px #fff;
}

		#about .header { border-color: #7a6ba5;}
		#main .header { border-color: #b0e5fa;}
		#works .header { border-color: #5684b1;}
		#goodies .header { border-color: #366798;}
		
		.header ul {
			margin: 27px 0 0 0;
			padding: 0 25px 0 0;
			list-style-type: none;
			float: right;
		}
		
		.header ul li {
			float: left;
			margin-left: 5px;
		}

		.header ul li a:hover {
			color: #fff;
		}

		.header ul li a {
			display: block;
			text-align: center;
			line-height: 26px;
			text-decoration: none;
		}
				
		.header ul li a .link_left {
			width: 10px;
			height: 26px;
			display: block;
			float: left;
			filter:alpha(opacity=25);
			opacity:.25;	
		}

		.header ul li a .link_center {
			display: block;
			float: left;
			height: 26px;
			width: 10px;
			position: relative;
		} 

		.header ul li a .link_center .link_bottom {
			display: block;
			width: 100%;
			height: 26px;
			filter:alpha(opacity=25);
			opacity:.25;	
		}

		.header ul li a .link_center .link_top {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 26px;
			line-height: 26px;
			font-size: 13px;
			font-family: 'Trebuchet MS', sans-serif;

		}

		.header ul li a .link_right {
			width: 10px;
			height: 26px;
			display: block;
			float: left;
			filter:alpha(opacity=25);
			opacity:.25;	
		}
		.header ul li a.active .link_left {	background: url(../images/general/selector.png) left 0px no-repeat; }
		.header ul li a:hover .link_left { background: url(../images/general/selector.png) left -36px no-repeat; }
		.header ul li a.active .link_bottom { background: url(../images/general/selector.png) -10px 0px no-repeat; }
		.header ul li a:hover .link_bottom { background: url(../images/general/selector.png) -10px -36px no-repeat; }
		.header ul li a.active .link_right { background: url(../images/general/selector.png) right 0px no-repeat; }
		.header ul li a:hover .link_right {	background: url(../images/general/selector.png) right -36px no-repeat; }

		.jump {
			position: absolute;
			width: 1px;
			height: 1px;
			left: 0;
			top: 200px;
		}

.eof {
	width: 1000px;
	margin-top: 30px;
	border-top: 1px solid #0f5ca9;
	line-height: 30px;
	padding-left: 10px;
	padding-bottom: 30px;
	text-align: left;
	color: #2e7cca;
	vertical-align: bottom;
}

.eof span {
	width:120px;	
	display: block;
	line-height: 30px;
	float: left;
	margin-right: 20px;
	text-align: right
}

.eof a {
	line-height: 30px;
	font-weight: bold;
	color: #2e7cca;
}

.eof a:hover {
	text-shadow:  0px 0px 2px #000;
}