<div id="container">  
	<div style="display: block; top: 236px; opacity: 1;" class="dialog">  
		<div class="body">  
			<div class="content">  
           ...  
			</div>  
		</div>  
	</div>  
</div> 
